<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>NSMicrophoneUsageDescription</key>
        <string>Need microphone access for using videos</string>
        <key>NSCameraUsageDescription</key>
        <string>It is necessary for the user to recognize the QR code with the camera and provide the app's server information</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
    	<string>User need permission to use and browse peripherals to communicate with the sensor.</string>
    	<key>NSBluetoothAlwaysUsageDescription</key>
    	<string>User need permission to use Bluetooth to communicate with the sensor</string>
    	<key>CFBundleDevelopmentRegion</key>
    	<string>en</string>
    	<key>CFBundleDisplayName</key>
    	<string>react-native-nfc</string>
    	<key>CFBundleExecutable</key>
    	<string>$(EXECUTABLE_NAME)</string>
    	<key>CFBundleIdentifier</key>
    	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    	<key>CFBundleInfoDictionaryVersion</key>
    	<string>6.0</string>
    	<key>CFBundleName</key>
    	<string>$(PRODUCT_NAME)</string>
    	<key>CFBundlePackageType</key>
    	<string>APPL</string>
    	<key>CFBundleShortVersionString</key>
    	<string>1.0</string>
    	<key>CFBundleSignature</key>
    	<string>????</string>
    	<key>CFBundleVersion</key>
    	<string>1</string>
    	<key>LSRequiresIPhoneOS</key>
    	<true/>
    	<key>NSAppTransportSecurity</key>
    	<dict>
    		<key>NSAllowsArbitraryLoads</key>
    		<true/>
    		<key>NSExceptionDomains</key>
    		<dict>
    			<key>localhost</key>
    			<dict>
    				<key>NSExceptionAllowsInsecureHTTPLoads</key>
    				<true/>
    			</dict>
    		</dict>
    	</dict>
    	<key>NSLocationWhenInUseUsageDescription</key>
    	<string></string>
    	<key>UILaunchStoryboardName</key>
    	<string>SplashScreen</string>
    	<key>UIRequiredDeviceCapabilities</key>
    	<array>
    		<string>armv7</string>
    	</array>
    	<key>UIStatusBarStyle</key>
    	<string>UIStatusBarStyleDefault</string>
    	<key>UISupportedInterfaceOrientations</key>
    	<array>
    		<string>UIInterfaceOrientationPortrait</string>
    		<string>UIInterfaceOrientationLandscapeLeft</string>
    	</array>
    	<key>UIViewControllerBasedStatusBarAppearance</key>
    	<false/>
    	<key>com.apple.developer.associated-domains</key>
    	<array>
    		<string>applinks:example.com</string>
    	</array>
    </dict>
    </plist>